<ion-header no-border>
  <ion-toolbar no-border>

    <ion-buttons slot="start">
        <ion-button (click)="settings()">
            <ion-icon name="settings"></ion-icon>
          </ion-button>
    </ion-buttons>
    

    <ion-buttons slot="end">
      <ion-button (click)="profile()">
          <ion-label margin class="cl-white" *ngIf="doctor != undefined">{{doctor.name}}</ion-label>
        <ion-avatar id="profile-img">
          <img src="/assets/boy.png"/>
        </ion-avatar>
     
      </ion-button>

      <ion-button (click)="notification()">
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content fullscreen>
    <div id="adjustment" >

      </div>
  <ion-grid>

    <ion-row>
      <ion-col col-6 (click)="goto('appointment')">
        <ion-card text-center padding >
          <ion-icon name="calendar"></ion-icon>
          <h6>Appointments</h6>
        </ion-card>
      </ion-col>

      <ion-col col-6 (click)="goto('construction')">
        <ion-card text-center padding>
          <ion-icon name="eye"></ion-icon>
          <h6>Visits</h6>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-6 (click)="goto('construction')">
          <ion-card text-center padding >
              <ion-icon name="person"></ion-icon>
              <h6>Patients</h6>
          </ion-card>
        </ion-col>
  
        <ion-col col-6 (click)="goto('construction')">
          <ion-card text-center padding>
              <ion-icon name="flash"></ion-icon>
            <h6>Reports</h6>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>

        <ion-col col-12 (click)="goto('review')">
            <ion-card text-center padding>
                <ion-icon src="/assets/feedback.svg"></ion-icon>
              <h6>Feedback / Review</h6>
            </ion-card>
        </ion-col>

      </ion-row>
      
  </ion-grid>
</ion-content>