<ion-header no-border padding>
  <ion-title padding text-center>Add Medicine</ion-title>
</ion-header>

<ion-content>
  
  <ion-grid>


      <ion-row>
        <ion-col>
            <ion-item>
                <ion-input placeholder="Drug Name" [(ngModel)]="prescription.drug"></ion-input>
              </ion-item>
        </ion-col>
      </ion-row>
          
        <ion-row>
            <ion-col>
                <ion-item>
                  <ion-label>Drug Strength</ion-label>
                  <ion-select [(ngModel)]="prescription.dose">
                    <ion-select-option
                      *ngFor="let dose of [5, 10, 15, 20, 25, 30]"
                      >{{ dose }}mg</ion-select-option
                    >
                  </ion-select>
                </ion-item>
              </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Drug Dose</ion-label>
              <ion-select [(ngModel)]="prescription.frequency">
                <ion-select-option value="0-0-1">0-0-1</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input placeholder="Drug Duration" [(ngModel)]="prescription.period"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
    <ion-buttons justify-content-center>
        <ion-button primary (click)="save()">Save</ion-button>
          <ion-button secondary (click)="close()">Cancel</ion-button>
      </ion-buttons>
</ion-footer>