<ion-content center text-center color="primary" padding>

  <ion-row *ngIf='message != undefined' center id="message">
      <ion-col>
        <ion-item>
          <ion-icon margin src="/assets/lock.svg"></ion-icon>
          <ion-label>{{message}}</ion-label>
        </ion-item>
      </ion-col>
      </ion-row>
      
  <ion-grid class="vertical-align-center">


        <ion-row center>
              <ion-col>
                <form #form="ngForm">
                  <ion-grid>
                    <ion-row color="primary" justify-content-center>
                      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                        <div text-center>
                          <h3>Login</h3>
                        </div>
                        <div padding>
                          <ion-item>
                            <ion-input name="email" type="email" placeholder="your@email.com" [(ngModel)]="username" required></ion-input>
                          </ion-item>
                          <ion-item>
                            <ion-input name="password" type="password" placeholder="Password" [(ngModel)]="password" required></ion-input>
                          </ion-item>
                        </div>
                        <div padding>
                          <ion-button size="large"  [disabled]="form.invalid" expand="block" (click)="login()">Login</ion-button>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col text-center>
                        <ion-label>Dont have a Account ?</ion-label>
                        <ion-label (click)="registerPage()" class="cl-orange"> Register</ion-label>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </form>
              </ion-col>
        </ion-row>
  </ion-grid>

