.flex-box {
    display: flex;
  justify-content: center;
}

ion-item{
    --background: #3880ff;
    --color: #fff;
}
ion-button{
    --background: #062f77;
}

ion-grid ion-row {
    width: 100%;
}

.cl-orange {
    color: #34495e;
}

.vertical-align-center {

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
}

#message ion-item{
    position: fixed;
}


