<ion-content text-center class="vertical-align-content" color="primary">
  <ion-grid  class="vertical-align-center">
        <ion-row >
              <ion-col>
                  <form  #form="ngForm" (ngSubmit)="register()">
                      <ion-grid>
                        <ion-row color="primary" justify-content-center>
                          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                            <div text-center>
                              <h3>Create your account!</h3>
                            </div>
                            <div padding>
                              <ion-item>
                                <ion-input  name="name" type="text" placeholder="Name" ngModel required></ion-input>
                              </ion-item>
                              <ion-item>
                                <ion-input  name="phone" type="text" placeholder="Phone Number" ngModel required></ion-input>
                              </ion-item>
                              <ion-item>
                                <ion-input  name="rid" type="text" placeholder="Registeration Id" ngModel required></ion-input>
                              </ion-item>
                              <ion-item>
                                <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
                              </ion-item>
                              <ion-item>
                                <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
                              </ion-item>
                              <ion-item>
                                <ion-input name="confirm" type="password" placeholder="Password again" ngModel required></ion-input>
                              </ion-item>
                            </div>
                            <div padding>
                              <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block" >Register</ion-button>
                            </div>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col text-center>
                              <ion-label>Already have a Account ?</ion-label>
                              <ion-label (click)="loginPage()" class="cl-orange"> Login</ion-label>
                            </ion-col>
                          </ion-row>
                      </ion-grid>
                    </form>
              </ion-col>
        </ion-row>
  </ion-grid>
 </ion-content>
