mat-form-field.full-width , button.full-width , ion-button{
    width: 90%;
}

div.alert{
    padding: 10px 10px;
    display: flex;
    align-content: center;
    align-items: center;
    width: 98vw;
    position: fixed;
    z-index: 1000;
    background: #a02d2d;
    color: white;
    left: 0%;
    right: 0%;
    margin: auto;
    top: 1vw;
}

div.alert p {
    margin: 0px;
    margin-left: 10px;
    width: 100%;
}


.vertical-align-center {

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
}

.red {
    background: #ffffff;
    color: black;
}

ion-footer {
    background: #3880ff;
}