.vertical-align-content 
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
     height: 100%;
}

.flex-box {
     display: flex;
     justify-content: center;
}

.bg-blue {

     --background:#275ae7;
     color:white;
}

.mg-l {
     margin-left:5px;
}

div.data-list-input
{
    position: relative;
    height: 20px;
    display: inline-flex;
    padding: 5px 0 5px 0;
}
select.data-list-input
{
    position: absolute;
    top: 5px;
    left: 0px;
    height: 20px;
}
input.data-list-input
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20px;
}
ion-label 
{
     font-size:21px;
}
#adjustment {

  
     background: transparent;
     border: 25px solid transparent;
     width: 0px;
     height: 0px;
     border-right: 25px solid rgba(237, 237, 237, 0.75);
     border-bottom: 25px solid rgba(237, 237, 237, 0.75);
     position: fixed;
     /* left: 0px; */
     right: 0px;
     bottom: 0px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     z-index: 10000;
     border-top-left-radius:13px;
 
   }

   #btn-container {

     margin: 10px;
   }


ion-item {
     margin-bottom: 20px;
}

.bg-white {
     background:white;
}

.bg-blue {
     background: #275ae7;
}
.bg-grey {
     background: #f2eded;
}

ion-content {
     --background:#f2eded;
}
ion-slides {
     max-height: 100vh;
     overflow: hidden;
}
ion-slide {
     background: white;
     max-height: 100vh;
     overflow-y: scroll;
}

.bd-top-btm {

//     border-top: 1px solid #da7e7e;
//     border-bottom: 1px solid #00bcd4;

}

#save-btn {
     display: inline-block;
    background: #da7e7e;
    border-bottom-left-radius: 10px;
    margin: 0px;
    border-top-left-radius: 10px;
    border-right: 1px solid white;

}

#skip-btn {
     display: inline-block;
     margin: 0px;
     border-top-right-radius: 10px;
     background: #00BCD4;
     border-left: 1px solid white;
     border-bottom-right-radius: 10px;
 
}

ion-button {
     --background: transparent;
     --box-shadow: none;
     border:0px;
}

ion-slide ion-grid {
     height: 88vh;
}

.bg-grey {
     background: #f2eded;
}
.bold {
     font-weight: bold;
}
#AddMedicine {

    border: 1px solid black;
    margin: 20px;
    position: absolute;
    top: -1px;
    height: 400px;
    background: white;
    padding: 10px;
    align-self: center;
    display: none;

}

.cl-warning {
     color:orangered;
}

.cl-primary {
     color:blue;
}

ion-col {
     padding: 0px;
}

.btn-row {
     position: sticky;
    z-index: 20004;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background: white;
    display: flex;
    justify-content: center;
}
.sticky-top {

     position: sticky;
     top: 0px;
}
.circle
{
    height: 10vw;
    width: 10vw;
    background: #ffffff;
    border-radius: 50%;
    position: relative;
    top: -20px;
    left: 81vw;
}
.medDiv {

     width: 100%;
     height: 3vw;
     border-top: 1px solid #f2eded;
     margin-top: 10px;
}

.medContainer {
	width: 95%;
    text-align: left;
    --margin: auto;
    background: white;
    --margin-bottom: 10px;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px  grey;
    font-size: 16px;
    font-family: monospace;
}
.medContainer span {
     margin:10px;
}

ion-footer {
     background:#275ae7;
     color: white;
}


input {
     width: 100%;
}

.has-float-label input:placeholder-shown:not(:focus) + *, .has-float-label select:placeholder-shown:not(:focus) + *, .has-float-label textarea:placeholder-shown:not(:focus) + * {
     font-size: 17px;
    opacity: .5;
    top: .25em;
    color: black;
}

.has-float-label input, .has-float-label select, .has-float-label textarea {
     font-size: inherit;
     padding-top: 1em;
     margin-bottom: 2px;
     border: 0;
     border-radius: 0;
     border-bottom: 1px solid rgb(246, 246, 246);
 }

 ion-col[margin] {

     margin: 0px;
     margin-right: 10px;
 }

 .box {
     margin: 8vw 4vw;
     /* margin-top: 37px; */
     /* border-top: 1px solid black; */
     border: 1px solid black;
     padding-top: 22px;
     padding-bottom: 22px;
 }

 .container {

     height: 100vh;

 }

 ion-avatar{

     height: 50vw;
     width: 50vw;
     margin: 10vw;
 }

 ion-toolbar {

     --background:#3880ff;
     color: white;
 }