<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()" #backButton>
        <ion-icon name="return-left"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{title}}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="history()"  *ngIf="index!= 0">
        <ion-icon name="filing"></ion-icon>
      </ion-button>
      <ion-button *ngIf="index == 2">
        <ion-icon name="share"></ion-icon>
      </ion-button>
      <!-- <ion-button (click)="create()" *ngIf="index != 0 && index != 1 && index != 3">
        <ion-icon name="add"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding class="container">

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="index == 3">
        <ion-fab-button color="success" (click)="create()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>

  <ion-slides #slides (ionSlideDidChange)="changeHeader()">

    <!--Patient Detail Slide-->

    <ion-slide>

      <ion-grid>

        <ion-row >

          <ion-col class="flex-box">

            <ion-avatar>

              <ion-img src="/assets/fever.png"></ion-img>

            </ion-avatar>

          </ion-col>

        </ion-row>

       <ion-row margin>
          <ion-col class="flex-box">
              <ion-label>Alan harper</ion-label>
          </ion-col>
       </ion-row>

       <ion-row margin>
          <ion-col class="flex-box">
              <ion-label>26 Years</ion-label>
          </ion-col>
       </ion-row>

       <ion-row>
          <ion-col class="flex-box">
              <ion-label>Booked On : 11/12/2019 11:12</ion-label>
          </ion-col>
        </ion-row>

        <ion-row margin justify-content-center>
          <ion-col>
            <ion-button (click)="startConsultation()" full-width color="success">Start Consultation</ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>


    </ion-slide>

    <!--Medical Summary SLide-->

    <ion-slide >

      <ion-grid no-padding>
          <!-- <ion-row justify-content-center no-margin>
              <ion-col no-padding>
                <ion-item lines="none"  class="bg-blue sticky-top">
                  <ion-icon src="/assets/stethscope.svg"> </ion-icon>
    
                  <ion-label margin>Medical Summary</ion-label>
    
                </ion-item>
              </ion-col>
            </ion-row> -->

    
        <ion-row justify-content-center margin>

          <ion-col size="12" margin>
            <ion-item>
              <ion-label position="floating">BP</ion-label>
              <ion-input type="number" placeholder="0.0" [(ngModel)]="paramedicalInfo.bp"></ion-input>
            </ion-item>            
          </ion-col>
          <ion-col size="12" margin>
            <ion-item>
              <ion-label position="floating">Temperature</ion-label>
              <ion-input type="number" placeholder="0.0" [(ngModel)]="paramedicalInfo.temperature"></ion-input>
            </ion-item>            
          </ion-col>
        </ion-row>

        <ion-row justify-content-center margin>

            <ion-col size="12" margin>
              <ion-item>
                <ion-label position="floating">Weight</ion-label>
                <ion-input type="number" placeholder="0.0kg" [(ngModel)]="paramedicalInfo.weight"></ion-input>
              </ion-item>     
            </ion-col>
            <ion-col size="12" margin>
              <ion-item>
                <ion-label position="floating">Height</ion-label>
                <ion-input type="number" placeholder="0.0" [(ngModel)]="paramedicalInfo.height"></ion-input>
              </ion-item>     
            </ion-col>
          </ion-row>

      </ion-grid>

    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row justify-content-center class="box">
          <ion-col size="10" margin>
              <app-input-dropdown placeholder="Diagnosis" [selects]="diagnosisSelect" [options]='diagnosis'></app-input-dropdown>
          </ion-col>
        
        </ion-row>

        <ion-row justify-content-center class="box">
            <ion-col size="10" margin>
                <app-input-dropdown placeholder="Symptoms" [selects]="symptomsSelect" [options]='symptoms'></app-input-dropdown>
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-slide>

    <!--Prescription Slide-->
    <ion-slide>
        
        
      <ion-grid no-padding class="bg-grey">
       
        <!-- <ion-row>
            <ion-col>
                <ion-item lines="none" class="bd-top-btm" no-margin class="bg-blue sticky-top">
                    <ion-icon src="/assets/prescription.svg"> </ion-icon>
          
                    <ion-label margin>Prescription</ion-label>
                 
                  
                  </ion-item>
            </ion-col>
        </ion-row> -->

        <ion-row>

            <ion-grid id="AddMedicine">
      

                <ion-row justify-content-center margin>
                  <ion-col>
                    <ion-buttons justify-content-center>
                      <ion-button color="primary" (click)="next()">Add</ion-button>
                    </ion-buttons>
                  </ion-col>
                </ion-row>
              </ion-grid>
      
              <ion-grid no-padding  class="bg-grey">
                <ion-row>
                  

                  <ion-col size="12" class="medContainer" *ngFor="let med of prescription">
                    <span class="bold">{{med.drug}}</span>
                    <div class="medDiv">
                      <ion-icon class="circle" src="/assets/{{med.type}}.svg"></ion-icon>
                    </div>  
                    <div>
                        <span>{{med.dose}}</span>
                        <span>{{med.frequency}}</span>
                      </div>
           
                  </ion-col>
                  
                </ion-row>
              </ion-grid>
      
        </ion-row>

      </ion-grid>
    </ion-slide>

    <ion-slide>      
    </ion-slide>

  </ion-slides>


</ion-content>

<ion-footer>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size="12" *ngIf="index == 1">
          <ion-button (click)="saveParamedicalInfo()" expand="full" color="primary">Next</ion-button>      
      </ion-col>
      <ion-col size="12" *ngIf="index == 2">
        <ion-button (click)="saveConsultation()" expand="full" color="primary">Next</ion-button>      
    </ion-col>
      <ion-col size="6" *ngIf="index == 3">
          <ion-button (click)="savePrescription()" expand="full" color="primary">Save</ion-button>
      </ion-col>
      <ion-col size="6" *ngIf="index == 3">
          <ion-button expand="full" (click)="downloadPrescription()" color="warning">Print</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
    
</ion-footer>


