.header-icon {
    width: 50px;
    height: 50px;
}

.profile-icon {
    border: 2px solid white;
    background: white;
}

mat-toolbar-row {
    flex-direction: row-reverse;
    padding: 10px;
}

ion-badge {
    position: absolute;
    right: 4vw;
    top: 1vw;
    width: 20px;
    height: 20px;
    min-height: 20px;
    border-radius: 50%;
    max-height: 20px;
    max-width: 20px;
    text-align: center;
    justify-content: center;
    padding: 3px;
}

.notification-div {
    display: flex;
    position: relative;
    justify-content: center;
}