
ion-footer.padding-bottom {
    padding-bottom: 10px;
}
mat-form-field.full-width , button.full-width {
    width: 90vw;
}

img {
    width: 90vw;
    height: 90vw;
    margin: auto;
}
p {
    width: auto;
    display: inline;
}
img.profile {
    border:2px solid black;
    margin: auto;
    width: 50vw;
    height: 50vw;
    border-radius:50%;
    animation-name: flash_border;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

ion-row.mg-top-20 {
    margin-top: 20px;
}
ion-grid.full {
    height: 100%;
    vertical-align: middle;
    align-items: center;
    display: flex;
    justify-content: center;
}

@keyframes flash_border {
    0% {
        border-bottom: red;
    }
    10% {
        border-bottom: red;
    }
    20% {
        border-bottom: red;
    }
    30% {

        border-left: red;

    }
    40% {

        border-left: red;

    }
    50% {

        border-left: red;

    }
    60% {
      border-right: red;
    }
    70% {
        border-right: red;
    }
    80% {
        border-right: red;
    }
    90% {
        border-top: red;
      }
      100% {
        border-top: red;
      }
  }