<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">

      <ion-button (click)="edit()" *ngIf="!editMode">
        <ion-icon name="create"></ion-icon>
      </ion-button>

      <ion-button (click)="updateDoctor()" *ngIf="editMode">
          <ion-icon name="save"></ion-icon>
      </ion-button>

      <ion-button (click)="profileOptionPopover()">
        <ion-icon name="more" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="adjustment-container">
    <div id="adjustment"></div>
    

    <div id="avatar-container">
      <ion-avatar slot="start" id="avatar" (click)="profileImageSetter($event)">
          <img [src]="'data:' +  doctor
          . imageContentType
          + ';base64,' + doctor
          . image
          "> 
      </ion-avatar>
    </div>
  </div>

  <ion-card id="profile" align-items-center [style.background]="editMode == true ? 'gainsboro' : null">
    <ion-card-content id="profile-card-content">
      <ion-item lines="none">
        <ion-grid>

            <ion-row  *ngIf="editMode != true">
                <ion-col text-center>
                    <ion-text text-center class="font-mono">{{keycloakUser.name}}</ion-text>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="editMode">
                  <ion-col>
                    <ion-label text-center id="name"  class="font-mono" ></ion-label>
                    <ion-item >
                        <ion-input form="profileForm" text-center type="text" placeholder="First Name" [(ngModel)]="keycloakUser.given_name"  required></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row *ngIf="editMode">
                    <ion-col>
                      <ion-label text-center id="name"  class="font-mono"></ion-label>
                      <ion-item >
                          <ion-input form="profileForm" text-center type="text" placeholder="Second Name" [(ngModel)]="keycloakUser.family_name"  required></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
        

          <ion-row>
            <ion-col text-center>
                <ion-text text-center *ngIf="!editMode" class="font-mono">{{doctor.registerNumber}}</ion-text>
            </ion-col>
          </ion-row>
         
          <ion-row>
            <ion-col>
              <ion-item *ngIf="editMode" >
                  <ion-input form="profileForm" text-center type="text" placeholder="Register Number" required [(ngModel)]="doctor.registerNumber" ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col text-center class="flex-box">
              <ion-label *ngIf="!editMode" class="font-mono">{{doctor.specialization}}</ion-label>
              <ion-item *ngIf="editMode">
                  <ion-input form="profileForm" text-center type="text" placeholder="Specialization" [(ngModel)]="doctor.specialization"  required></ion-input>
              </ion-item >
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col text-center class="flex-box">
            <ion-icon name="phone-portrait" class="cl-black"></ion-icon>
            <!-- <ion-label *ngIf="!editMode" class="font-mono">{{keycloakUser}}</ion-label> -->
            <ion-label *ngIf="!editMode" class="font-mono">No Number Column in Keycloak</ion-label>
            <ion-item *ngIf="editMode">
                <ion-input form="profileForm" text-center type="text" placeholder="No Number in KeyCloak" ngModel required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col text-center class="flex-box">
            <ion-icon name="mail" class="cl-orangered"></ion-icon>
            <ion-label class="font-mono" *ngIf="!editMode" >{{keycloakUser.email}}</ion-label>
            <ion-item *ngIf="editMode">
                <ion-input form="profileForm" text-center type="text" value="{{keycloakUser.email}}" [(ngModel)]="keycloakUser.email"  required></ion-input>
            </ion-item >
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col text-center class="flex-box">
                <ion-icon *ngIf="!editMode"  name="calendar" class="cl-green"></ion-icon>
                <ion-label *ngIf="!editMode" class="font-mono">{{doctor.practiceSince}}</ion-label>
                <ionic-calendar-date-picker (onSelect)="dateSelected($event)" *ngIf="editMode" ></ionic-calendar-date-picker>	
              </ion-col>
        </ion-row>


    
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="detail-card">
    <ion-card-content>
      <ion-badge  color="secondary" *ngFor="let clinic of workplaces">{{clinic.name}}
          <ion-icon (click)="deleteWorkPlace(clinic.id)" name="close"></ion-icon>
      </ion-badge>
      <ion-label float-right class="add-button">
          <ion-icon name="add" (click)="addWorkPlaceModal($event)"></ion-icon>
      </ion-label>
    </ion-card-content>
  </ion-card>
  
  <ion-card class="detail-card">
    <ion-card-content>
      <ion-badge (click)="updateQualificationModal(degree.id)" color="primary" *ngFor="let degree of qualifications">{{degree.qualification}}
          <ion-icon (click)="deleteQualification(degree.id)" name="close"></ion-icon>
      </ion-badge>

      <ion-label float-right class="add-button">
          <ion-icon name="add"  (click)="addQualificationModal($event)"></ion-icon>
      </ion-label>
    </ion-card-content>
  </ion-card>


</ion-content>

<ion-footer>
    <div class="ratingBox" (click)="reviewPage()">
        <ion-grid>
          <ion-row text-center>
            <ion-col size="6">
            
              <app-rating [(rating)]="doctor.totalRating"></app-rating>
              
            </ion-col>
            <ion-col size="6">
              Reviews(98)
            </ion-col>
          </ion-row>
      
        </ion-grid>
      </div>
      
</ion-footer>