<ion-header no-border padding>
  <ion-title padding text-center>Add Medicine</ion-title>
</ion-header>

<ion-content>
  
  <ion-grid>

      <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Drug Type</ion-label>
              <ion-select>
                <ion-select-option>Tab</ion-select-option>
                <ion-select-option>Tonic</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
            <ion-item>
                <ion-input placeholder="Drug Name"></ion-input>
              </ion-item>
        </ion-col>
      </ion-row>
          
        <ion-row>
            <ion-col>
                <ion-item>
                  <ion-label>Drug Strength</ion-label>
                  <ion-select>
                    <ion-select-option
                      *ngFor="let dose of [5, 10, 15, 20, 25, 30]"
                      >{{ dose }}mg</ion-select-option
                    >
                  </ion-select>
                </ion-item>
              </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Drug Dose</ion-label>
              <ion-select>
                <ion-select-option>0-0-1</ion-select-option>
                <ion-select-option>0-1-1</ion-select-option>
                <ion-select-option>0-1-1</ion-select-option>
                <ion-select-option>0-1-1</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input placeholder="Drug Duration"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Drug Advice</ion-label>
              <ion-select>
                <ion-select-option
                  *ngFor="let advice of ['Before Food', 'After Food']"
                  >{{ advice }}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
    <ion-buttons justify-content-center>
        <ion-button primary>Save</ion-button>
          <ion-button secondary (click)="close()">Cancel</ion-button>
      </ion-buttons>
</ion-footer>