// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

app-input-dropdown {
    width: 100%;
}

.prescription-modal {

    width: 95%;
    height: 300px;
    top: 50%;
}

ion-modal.auto-height {
    &.bottom {
        align-items: flex-end;
    }

    // --height: 300px;;

    .modal-wrapper {

        position: absolute;
        bottom: 0%;
    }

    

    .ion-page {
        position: relative;
        display: block;
        contain: content;

        .inner-content {
            max-height: 80vh;
            overflow: auto;
            padding: 10px;
        }
    }
}


ion-modal.auto-height2 {
    &.bottom {
        align-items: flex-end;
    }

    --height: 51vw;;

    .modal-wrapper {

        position: absolute;
        bottom: 0%;
    }

    .ion-page {
        position: relative;
        display: block;
        contain: content;

        .inner-content {
            max-height: 80vh;
            overflow: auto;
            padding: 10px;
        }
    }
}

ion-loading.loading {
    .loading-wrapper {
      background: transparent;
      box-shadow: none;
  
      .spinner-crescent circle {
        stroke-width: 8px;
        --backgound-color:green;
      }
    }
  }