<div class="shadow" (click)="close()" *ngIf="isOn"></div>
<div class="input-dropdown-container">
    <div  id="badgeContainer"><p *ngFor="let option of selects" >
        {{ option }}
        <ion-icon name="close" (click)="removeItem(option)"></ion-icon>
    </p></div>
    <input  #inputBox type="text" name="myCountry" placeholder="{{placeholder}}" (input)="findMatching()" [(ngModel)]="value"/>
</div>
<div tabindex="9" #suggetionBox  class="autocomplete" *ngIf="isOn">
    <p *ngFor="let option of tmpOptions" (click)="selectMatching(option)">{{option}}</p>
</div>