

  ion-row.absolute {
    position: relative;
    z-index: 200000;
    margin: auto;
    left: 0px;
    right: 0px;
    bottom: -3vh;
  }

  ion-button {
    width: 160px;
    height: 45px;
  }

  ion-grid.light-blue {
      height: 75vh;
      background: #e0efe3;
  }

  