<mat-toolbar color="primary">

    <mat-toolbar-row>
      <ion-buttons>
        <ion-button (click)="cancel()">
          <ion-icon name="close" ></ion-icon>
        </ion-button>    
      </ion-buttons>
      <ion-title>Add Qualification</ion-title>
    </mat-toolbar-row>
</mat-toolbar>


<ion-content padding>
    <ion-grid>
    <ion-row>
      <ion-col>
          <mat-form-field  class="full-width">
              <input matInput type="text" placeholder="Qualification" [(ngModel)]="searchTerm">
              <mat-icon matSuffix>mat</mat-icon>
          </mat-form-field>    
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item *ngFor="let s of searchListEntity" >
    <ion-text (click)="addQualification(s)">{{s.str}}</ion-text>
    <ion-icon slot="end" name="checkbox" *ngIf="s.selected" (click)="removeQualification(s)"></ion-icon>
    <ion-icon slot="end" name="checkbox-outline" *ngIf="!s.selected" (click)="addQualification(s)"></ion-icon>
  </ion-item>
</ion-content>
<ion-footer>
 <ion-grid>
   <ion-row>
    <ion-col>
      <ion-button expand="block" fill="outline" color="danger" (click)="cancel()">Cancel</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" fill="outline" (click)="dismiss()">Save</ion-button>
    </ion-col>
   </ion-row>
 </ion-grid>
</ion-footer>