ion-slides.full-height {

    height: 100%;
}

// These are for Testing Only Remove it Afterwards

ion-slide.primary {
    background-color: #6c799c;
    color: white;
}
ion-slide.secondary {
    background-color: aquamarine;
}